

/* Index Page Details*/
.container
{
	background-image: url("../assets/tree_bark.png");

}
form{
	background-color: white;
}

label{
	margin-top: 15px;
    margin-bottom: 15px;
}

button{

	margin-top: 15px;

}
.navbar-brand 
{
	font-family: 'Abril Fatface', cursive;
	background-color: #4aaaa5;
	padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.page-header
{
	font-family: 'Source Sans Pro', sans-serif;
	color:#4aaaa5;
    padding-bottom: 5px;
    margin: 18px 0 20px;
    border-bottom: 2px solid #eee;
}

.main
{
    background-color:white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:30px;
}


.gallery{
	position:relative;
	float:left;
	max-width:200px;
	max-height:200px;
}

#profile
{
	max-width: 300px;
}

img {
	position:relative;
	float:left;
	margin:10px;
}

h3{
	font-size: 18px;
}
.connect{
	float:left;
	background-color: white;
	margin:30px 20px 20px 20px;
}

.footer{
	background-color:#666;
	color:white;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top:30px;
	padding-bottom: 30px;
	border-top: 4px solid #4aaaa5;
}
.caption
{
	background-color:#4aaaa6;
	color:white;
	text-align:center;
	position:relative;
	z-index: 1;
    top: 75px;
    margin-left: 10px;
}

.thumb{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    right:1px;
}
.thumb img{
    position:absolute;
    z-index: 0;
}


@media screen and (min-width: 768px){
	.navbar-brand {
    margin-left:10px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

}}

@media screen and (max-width:992px){
	.navbar .navbar-brand{width:100%;
    text-align: center;
    color: white;};
	
	.connect{width:80%;}
	
	.main{width:80%;}
}

